@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.font-heading {
  font-family: "Montserrat", sans-serif;
}
